fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
psycopg2-binary
python-dotenv
redis

# ===== LangChain =====
langchain-core
langchain
langchain-community
langchain-deepseek
langchain-ollama
langchain-huggingface
langchain-text-splitters
langchain-postgres

# ===== Embedding =====
sentence-transformers

# ===== Vector Store =====
pgvector
psycopg[binary]
